{% include "parts/html_start.njk" %}
{% include "parts/navbar.njk" %}
{% from "parts/macro.njk" import bigArticleHeader %}

{% set bcr=list.getBreadcrumbs(page , 1) %}

{% from "parts/page_lists.njk" import listAsTitles %}
<div class="container my-6 px-3 is-max-tablet">

  {{ bigArticleHeader(page , bcr) }}
  <div class="content mb-6">
    {{ html }}
    {% if meta.date %}
    {% if meta.date.getFullYear() > 1980 %}
    <small class="">&mdash; {{ util.niceDate(meta.date)}}</small>
    {% endif %}
    {% endif %}
  </div>


  {% if page.index and not page.list %}
  {% set pls = list.getNearFiles(page.file.path) %}
  {% endif %}

  {% if page.meta.taglist %}
  {% set pls = list.tags() %}
  {% endif %}

  {% if pls %}
  {{ listAsTitles( pls , page)}}
  {% endif %}

</div>
{% include "parts/html_end.njk" %}
