{% set WIDE=true %}
{% extends "empty.njk" %}
{% from "parts/page_lists.njk" import listAsCards as pagesList %}

{% block top %}
<section class="hero is-primary has-text-white  is-medium">
  <div class="hero-body">
    <p class="title is-2 has-text-white">{{ config[ "title_" + LANG ] }}{% if page.page_number>1 %}
      ({{page.page_number}}/{{
      page.page_links.length}}){% endif %}</p>
    <p class="subtitle has-text-white">{{ config[ "description_" + LANG ]}}</p>
    <div class="field has-addons">
      {% if LANG=='en' %}
      <p class-"control">
        <a href="/ru/index.html" class="button is-small">Русский</a>
      </p>
      {% endif %}
      {% if LANG=='ru'%}
      <p class="control">
        <a href="/en/index.html" class="button is-small">English</a>
      </p>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
{% block content %}
<div class="columns">
  {% set SP = datasets.selling_points %}
  {% for S in SP %}
  <div class="column">
    <div class="card " style="height:100%">
      <div class="card-header">
        <div class="card-header-title">{{ S.title[LANG] }}</div>
      </div>
      <div class="card-content content">
        
          {% for P in S.text[LANG] %}
          <span>{{P}}</span>
          {% endfor %}
        
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
