{% set WIDE=true %}
{% extends "empty.njk" %}
{% from "parts/page_lists.njk" import listAsCards as pagesList %}

{% block top %}
<section class="hero is-primary has-text-white  is-medium">
  <div class="hero-body">
    <p class="title is-2 has-text-white">{{ config.title }}{% if page.page_number>1 %} ({{page.page_number}}/{{
      page.page_links.length}}){% endif %}</p>
    <p class="subtitle has-text-white">{{ config[ "description_" + LANG ]}}</p>
    <div class="field has-addons">
      {% if LANG=='en' %}
      <p class-"control">
        <a href="/ru/index.html" class="button is-small">Русский</a>
      </p>
      {% endif %}
      {% if LANG=='ru'%}
      <p class="control">
        <a href="/en/index.html" class="button is-small">English</a>
      </p>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
{% set allPages = list.getAllFiles(page.file.path).sortByMeta("order" , false , true) %}
{% set p = splitToPages(allPages , 20) %}
{% block content %}
{# content {{ allPages.length }} #}
{% if page.list_page %}
{{ pagesList( page.list_page) }}
{% endif %}
{% endblock %}
