{% from "parts/macro.njk" import smallPageDate %}
{% macro listAsCards(plist, where) %}
<script defer>
  window.masonry.init({
    container: "#pagesList",
    bySize: true,
    countFn: (e) => {
      return Math.floor(e.getBoundingClientRect().width / 300) || 1;
    }
  })
</script>
<div class="m-page-list columns" id="pagesList">
  {% for P in plist %}
  <div class="card cell">
    <div class="card-content">
      <a class="title is-5" href="{{ P.file.path }}">{{P.meta.title}}</a>
      {% if P.meta.tags %}
      <div class="tags">
        {% for T in P.meta.tags %}
        <!--{{T.tag}} | {{where.tag}} | {{page.title}}-->
        {% if T.tag == where.tag %}
        <span class="tag" style="border:1px solid gray">{{T.meta.title}}</span>
        {% else %}
        <a class="tag" href="{{T.file.path}}">{{T.meta.title}}</a>
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
      <div class="is-size-7">{{P.meta.excerpt}}</div>
    </div>

    <div class="card-image">
      <figure class="image is-16by9 is-fullwidth">
        <a href="{{ P.file.path }}"><img src="/pix/bear1.jpg"></a>
      </figure>
    </div>
  </div>
  {% endfor %}
</div>
{% endmacro %}

{% macro listAsTitles(plist , where) %}
<div class="m-columnized">
  {% for P in plist %}
  <div class="block mb-1" style="break-inside: avoid;"><a cllass="is-5" href="{{ P.file.path}}">{{ P.meta.title}}</a> {%
    if
    P.list
    %}({{P.list.length}}){% endif %}
    {% if not P.list %}{{ smallPageDate(P)}}{% endif %}
  </div>
  {% endfor %}

</div>
{% endmacro %}
