{% include "parts/html_start.njk" %}
{% include "parts/navbar.njk" %}
{% from "parts/macro.njk" import bigArticleHeader , fileListEntry %}
<div class="container my-6 px-3 is-max-tablet is-fullheight">
  {{ bigArticleHeader(meta.title , meta.tags , meta.date) }}
  <div class="content mb-6">
    {{ html }}
    {% if meta.date %}
    {% if meta.date.getFullYear() > 1980 %}
    <small class="">&mdash; {{ util.niceDate(meta.date)}}</small>
    {% endif %}
    {% endif %}
  </div>


  {% if page.file.path.endsWith("index.html") and not page.list %}
  {% set pls = list.getNearFiles(page.file.path) %}
  <div>
    {% for pl in pls %}
    {{ fileListEntry(pl) }}
    {% endfor %}
  </div>

  {% endif %}

</div>
{% include "parts/html_end.njk" %}
