{% extends "empty.njk" %}

{% block top %}
<section class="hero is-primary is-medium">
  <div class="hero-body">
    <p class="title">{{ config.title }}</p>
    <p class="subtitle">{{ config.description}}</p>
  </div>
</section>
{% endblock %}
