{% include "parts/html_start.njk" %}
{% include "parts/navbar.njk" %}
{% from "parts/macro.njk" import bigArticleHeader , fileListEntry %}
{% block top %}
{% endblock %}
<div class="container my-6 px-3 is-max-desktop">
  {% block content %}

  {% endblock %}
</div>
{% block bottom %}
{% endblock %}
{% include "parts/html_end.njk" %}
