{% from "parts/pagination.njk" import pagination %}
{% if page.page_count and page.page_count>1 %}
<nav class="pagination" role="navigation" aria-label="pagination">
  {% set paginas = util.paginate() %}
  <ul class="pagination-list is-justify-content-center">
    {% for pagina in paginas %}
    <li>
      {% if pagina.type!="current" %}
      <a href="{{pagina.link}}" class="pagination-link">{{pagina.label}}</a>
      {% else %}
      <a href="" class="pagination-link is-current">{{pagina.label}}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
{% endif %}
<script id="pageSrc" lang="text/markdown">"{{page.file.getContent() | escape}}"</script>
<footer class="footer has-background-dark mt-auto" style="color: silver">
  <div class="content">
    <div class="container is-max-desktop px-3 is-size-7">
      <div class="columns">
        <div class="column m-footer-column py-0 has-text-white content">
          {{data.datasets.footer.column1}}</div>
        <div class="column m-footer-column py-0 has-text-white content">
          {{data.datasets.footer.column2}}</div>
        <div class="column m-footer-column py-0 has-text-white content">{{data.datasets.footer.column3}}</div>
      </div>
    </div>
  </div>
</footer>
</body>

</html>
