{% from "parts/pagination.njk" import pagination %}
{% if page.page_count and page.page_count>1 %}
<nav class="pagination" role="navigation" aria-label="pagination">
  {% set paginas = util.paginate() %}
  <ul class="pagination-list is-justify-content-center">
    {% for pagina in paginas %}
    <li>
      {% if pagina.type!="current" %}
      <a href="{{pagina.link}}" class="pagination-link">{{pagina.label}}</a>
      {% else %}
      <a href="" class="pagination-link is-current">{{pagina.label}}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
{% endif %}
<div class="modal has-background-white" id="viewSource">
  <div class="modal-background"></div>
  <div class="modal-content px-2 py-2 has-background-white">
    <div style="font-family: Menlo, monospace;font-size:0.8rem">{{page.file.getContent() | escape | nl2br }}</div>
  </div>
  <button class="modal-close is-large" id="unViewSource" aria-label="close"></button>
</div>
<script>
  const B = document.getElementById("viewSourceBtn");
  const M = document.getElementById("viewSource");
  const C = document.getElementById("unViewSource");
  B && B.addEventListener("click", () => M.classList.add("is-active"))
  C && C.addEventListener("click", () => M.classList.remove("is-active"))

</script>
<footer class="footer has-background-dark mt-auto" style="color: silver">
  <div class="content">
    <div class="container is-max-desktop px-3 is-size-7">
      <div class="columns">
        <div class="column m-footer-column py-0 has-text-white content">
          {{data.datasets.footer.column1}}</div>
        <div class="column m-footer-column py-0 has-text-white content">
          {{data.datasets.footer.column2}}</div>
        <div class="column m-footer-column py-0 has-text-white content">{{data.datasets.footer.column3}}</div>
      </div>
    </div>
  </div>
</footer>
</body>

</html>
