{% macro breadcrumbs(bclist) %}
{% if bclist.length>0 %}
<nav class="breadcrumb has-arrow-separator is-small" aria-label="breadcrumbs">
  <ul>
    <!-- <li><a href="/index.html">🏠</a></li> -->
    {% for bc in bclist %}
    <li><a href="{{bc.file.path}}">{{ bc.meta.title }}</a></li>
    {% endfor %}
  </ul>
</nav>
{% endif %}
{% endmacro %}

{% macro bigArticleHeader(pg , bcr , LANG) %}
{{ breadcrumbs(bcr) }}
<h1 class="title is-1">{{ pg.meta.title}}</h1>
<!--{{ LANG }}-->
{% if pg.meta.tags %}
<div class="tags">
  {% for tag in pg.meta.tags %}
  <a class="tag is-medium" href="{{ tag.file.path }}">{{ tag.meta.title }}</a>
  {% endfor %}
</div>
{% endif %}
{% endmacro%}

{% macro _fileListEntry(page) %}
<div class="file_list_entry">
  <h2 class="is-size-3"><a href="{{ page.file.path }}">{{ page.meta.title }}</a></h2>
  {% if page.meta.tags %}
  <div class="tags">
    {% for tag in page.meta.tags %}
    <a class="tag is-primary is-small" href="{{ tag.file.path }}">{{ tag.meta.title }}</a>
    {% endfor %}
  </div>
  {% endif %}
  <div>{{page.meta.excerpt}}</div>
</div>
{% endmacro %}



{% macro smallPageDate(p) %}
{% set year = p.meta.date.getFullYear() %}
{% set month = ( 100 + (p.meta.date.getMonth()+1) ).toString().substring(1) %}
<div class="is-size-7">{{year}}.{{month}}.{{p.meta.date.getDate()}}</div>
{% endmacro %}
